main {
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: 8rem 8rem 8rem;
    grid-gap: 0.1rem;
}

app-square {
    height: 8rem;
}
#top{
  display: flex;
  
}
.spacer {
    flex: 1 1 auto;
  }
  h1, h2{
    font-size: 2rem;
    color: white;
    text-decoration: solid;
    margin-top: 1.2rem;
    text-align: center;
  }
  h2{
    font-size: 1.5rem;
  }
#board{
    justify-content: center;
}
#boardfull{
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-evenly;
  align-items: center;
}
#home{
  color: white;
  font-size: 1rem;
  text-decoration: solid;
}