main {
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: 8rem 8rem 8rem;
    grid-gap: 0.1rem;
}

app-square {
    height: 8rem;
}
.spacer {
    flex: 1 1 auto;
  }
  h1, h2{
    font-size: 2rem;
    color: white;
    text-decoration: solid;
    margin-top: 1.2rem;
    text-align: center;
  }
  h2{
    font-size: 1.5rem;
  }
#board{
    display: flex;
    justify-content: center;
}